
.team__overlay {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
}

.team__container {
    @media screen and (max-width: $pretablet) {
    padding-bottom: 60px;
    padding-top: 60px;}
    @media screen and (min-width: $tablet) {
    padding-bottom: 60px;
    padding-top: 60px;}
    @media screen and (min-width: $desk) {
    padding-top: 94px;
    padding-bottom: 94px;}
    }

.team__item {
    @media screen and (max-width: $mobile) {
        width: 100%;}
        @media screen and (min-width: $tablet) {
            flex-basis: calc((100% - 30px ) / 2);
          }  
        @media screen and (min-width: $desk) {
            flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));}
  
/*     flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team__heading {
    margin-top: 30px;
    margin-bottom: 10px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--font-color);
}

.team__profession {
    margin-bottom: 16px;

    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-font-color);
}

.social-icons {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    border-radius: 50%;
    /*    width: 20px;
    height: 20px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.social-background:not(:last-child) {
    margin-right: 10px;
}