$mobile: 480px;
$pretablet: 767px;
$tablet: 768px;
$predesk: 1199px;
$desk: 1200px;

/* @media screen and (max-width: $desk) {

}

@media screen and (min-width: $tablet) {

}

@media screen and (min-width: $tablet) and (max-width: $desk){

} */