img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

body {
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: $pretablet) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desk) {
    width: $desk;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  background: var(--accent-color);
  border: 1px solid transparent;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.section-header {
  @media screen and (max-width: $pretablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 50px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--font-color);
}

.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
